services:
  homeassistant:
    image: "${IMAGE}"
    container_name: "homeassistant"
    restart: "always"
    networks:
      - "reverse-proxy"
    expose:
      - "8123"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - "./config:/config"
      - "/etc/localtime:/etc/localtime:ro"
      - "/run/dbus:/run/dbus:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homeassistant.rule=Host(`homeassistant.home.tastic`)"
      - "diun.enable=true"
      - "diun.include_tags=^\\d+\\.\\d+\\.\\d+$"
      - "homepage.group=Smart Home & Automation"
      - "homepage.name=Home Assistant"
      - "homepage.icon=home-assistant.png"
      - "homepage.href=https://homeassistant.home.tastic"
      - "homepage.description=Smart Home Hub"

networks:
  reverse-proxy:
    external: true
